<div class="breadcrumb">
    <h1>Ajouter un document</h1>
    <ul>
        <li><a href="">Formulaire</a></li>
        <li>Basic</li>
    </ul>
</div>

<div class="separator-breadcrumb border-top"></div>

<div class="row">
    <div class="col-md-12">
        <div class="card mb-4">
            <div class="card-body">
                <div class="card-title mb-3">Remplir le formulaire</div>
                <form [formGroup]="formBasic" (ngSubmit)="submit()">
                    <div class="row">
                        <div class="col-md-6 form-group mb-3">
                            <label for="titre">Titre</label>
                            <input type="text" class="form-control form-control-rounded" id="titre" formControlName="titre" placeholder="Titre">
                        </div>

                        <!-- Champ Type document supprimé -->

                        <div class="col-md-6 form-group mb-3">
                            <label for="language">Langue</label>
                            <select class="form-control form-control-rounded" id="language" formControlName="language">
                                <option value="fr">Français</option>
                                <option value="en">Anglais</option>
                            </select>
                        </div>

                        <div class="col-md-6 form-group mb-3">
                            <label for="description">Description</label>
                            <input class="form-control form-control-rounded" id="description" formControlName="description" placeholder="Description">
                        </div>

                        <div class="col-md-6 form-group mb-3">
                            <label for="project">Projet</label>
                            <select class="form-control form-control-rounded" formControlName="project">
                                <option *ngFor="let project of projects" [value]="project.id">{{ project.projectName }}</option>
                            </select>
                        </div>

                        <div class="col-md-6 form-group mb-3">
                            <label for="domaine">Domaine</label>
                            <select class="form-control form-control-rounded" formControlName="domaine">
                                <option *ngFor="let domaine of domaines" [value]="domaine.id">{{ domaine.nom_domaine }}</option>
                            </select>
                        </div>

                        <div class=" mb-3 col-md-6">
                            <div class="custom-file">
                                <input type="file" class="custom-file-input" id="inputGroupFile01" formControlName="fichier" aria-describedby="inputGroupFileAddon01" (change)="handleFileInput($event)">
                                <label class="custom-file-label" for="inputGroupFile01">{{ file?.name || 'Selectionner un fichier' }}</label>
                            </div>
                        </div>

                        <div class="col-md-12">
                            <button class="btn-primary btn-rounded" type="submit" [disabled]="loading || !formBasic.valid">Enregistrer</button>
                        </div>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>
