<div class="breadcrumb">
  <h1>Dashboard</h1>

</div>
<div class="separator-breadcrumb border-top"></div>

<div class="row">
  <div class="col-lg-6 col-md-12">
    <!-- CARD ICON -->
  <div class="row">
      <div class="col-lg-4 col-md-6 col-sm-6">
        <div class="card card-icon mb-4">
          <div class="card-body text-center">
            <i class="i-Share-on-Cloud"></i>
            <p class="text-muted mt-2 mb-2">Documents uploader</p>
            <p class="text-primary text-24 line-height-1 m-0">{{ totalDocuments }}</p>
          </div>
        </div>
      </div>
  
      <div class="col-lg-4 col-md-6 col-sm-6">
        <div class="card card-icon mb-4">
          <div class="card-body text-center">
            <i class="i-Administrator"></i>
            <p class="text-muted mt-2 mb-2">Collaborateur</p>
            <p class="text-primary text-24 line-height-1 m-0">1</p>
          </div>
        </div>
      </div>
  
      <div class="col-lg-4 col-md-6 col-sm-6">
        <div class="card card-icon mb-4">
          <div class="card-body text-center">
            <i class="i-Speach-Bubbles"></i>
            <p class="text-muted mt-2 mb-2">Interactions avec bot </p>
            <p class="text-primary text-24 line-height-1 m-0"> {{totalMessages}}</p>
          </div>
        </div>
      </div>


    <div class="col-lg-4 col-md-6 col-sm-6">
        <div class="card card-icon mb-4">
          <div class="card-body text-center">
            <i class="i-File-Search"></i>
            <p class="text-muted mt-2 mb-2">Documents Référencés </p>
            <p class="text-primary text-24 line-height-1 m-0"> {{totalFileResponseMessages}}</p>
          </div>
        </div>
      </div>

    <div class="col-lg-4 col-md-6 col-sm-6">
      <div class="card card-icon mb-4">
        <div class="card-body text-center">
          <i class="i-Speach-Bubble-12"></i>
          <p class="text-muted mt-2 mb-2">Réponse NLP </p>
          <p class="text-primary text-24 line-height-1 m-0"> {{totalTextResponseMessages}}</p>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-6">
      <div class="card card-icon mb-4">
        <div class="card-body text-center">
          <i class="i-Data-Refresh"></i>
          <p class="text-muted mt-2 mb-2">Requêtes SQL Générées </p>
          <p class="text-primary text-24 line-height-1 m-0"> {{totalSqlResponseMessages}}</p>
        </div>
      </div>
    </div>
    </div>
  </div>

  <div class="col-lg-6 col-md-12">
    <div class="card mb-4">
      <div class="card-body p-0">
        <h5 class="card-title m-0 p-3">Tendances des Interactions</h5>
        <div echarts [options]="chartLineOption3" style="height: 300px"></div>
      </div>
    </div>
  </div>

  <div class="col-lg-6 col-md-12">
    <div class="card mb-4">
      <div class="card-body">
        <div class="card-title">Tâche de scraping</div>
        <div class="row">
          <div class="col-md-6">
            <table class="table">
              <thead class="thead-light">
                <tr>
                  <th scope="col">Tache</th>
                  <th scope="col">Status</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Ticket JIRA</td>
                  <td class="font-weight-bold text-success">Active</td>
                </tr>
                <tr>
                  <td>Page WIKI</td>
                  <td class="font-weight-bold text-success">Active</td>
                </tr>
                <tr>
                  <td>Fichier SQL</td>
                  <td class="text-danger font-weight-bold">Désactiver</td>
                </tr>

                
              </tbody>
            </table>
          </div>
          <div class="col-md-6">
              <div echarts [options]="chartPie1" [autoResize]="true" style="height: 200px;"></div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-lg-6 col-md-12">
    <div class="card mb-4">
      <div class="card-body">
        <div class="card-title">Collaborateur</div>
        <div class="d-flex align-items-center border-bottom-dotted-dim pb-3 mb-3">
          <img class="avatar-md rounded mr-3" src="./assets/images/faces/girl.png" alt="">
          <div class="flex-grow-1">
            <h6 class="m-0">Samar Neji</h6>
            <p class="m-0 text-small text-muted">Analyst Developer INSURANCE </p>
          </div>
        </div>
        <div class="d-flex align-items-center border-bottom-dotted-dim pb-3 mb-3">
          <img class="avatar-md rounded mr-3" src="./assets/images/faces/boy.png" alt="">
          <div class="flex-grow-1">
            <h6 class="m-0">Souhail Bel haj Arbi </h6>
            <p class="m-0 text-small text-muted">Solution Architect INSURANCE</p>
          </div>

        </div>
        <div class="d-flex align-items-center border-bottom-dotted-dim pb-3 mb-3">
          <img class="avatar-md rounded mr-3" src="./assets/images/faces/girl.png" alt="">
          <div class="flex-grow-1">
            <h6 class="m-0">Sonia Ben Meftah</h6>
            <p class="m-0 text-small text-muted">Project Manager INSURANCE</p>
          </div>

        </div>
      </div>
    </div>
  </div>

  <!--<div class="col-md-12">
    <div class="card o-hidden mb-4">
      <ngx-datatable
      style="height: calc(100vh - 270px); box-shadow: none"
      class="material fullscreen"
      [columnMode]="'force'"
      [headerHeight]="50"
      [footerHeight]="50"
      [rowHeight]="60"
      [scrollbarV]="true"
      [scrollbarH]="true"
      [limit]="10"
      [rows]="products$ | async">
        <ngx-datatable-column name="photo" [maxWidth]="100">
          <ng-template ngx-datatable-header-template>
            Thumbnail
          </ng-template>
            <ng-template ngx-datatable-cell-template let-value="value" let-row="row">
                <img height="32px" width="32px" style="border-radius: 4px" [src]="value" alt="">
            </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="name" [width]="300">
          <ng-template ngx-datatable-header-template>
            Title
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="category">
          <ng-template ngx-datatable-header-template>
            Category
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="subtitle">
          <ng-template ngx-datatable-header-template>
            Description
          </ng-template>
        </ngx-datatable-column>
      </ngx-datatable>
    </div>
  </div>-->

  
</div>

