<div class="">
    <div class="breadcrumb">
        <h1>La liste des documents</h1>
        <ul>
            <li>Filter</li>
        </ul>
    </div>

    <div class="separator-breadcrumb border-top"></div>

    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <input id="search" placeholder="Search Documents" [formControl]="searchControl" class="form-control form-control-rounded" type="text">
            </div>
        </div>
        <div class="col-md-12">
            <div class="card  o-hidden">
                <ngx-datatable
                        style="height: 500px; box-shadow: none"
                        class="material fullscreen"
                        [columnMode]="'force'"
                        [headerHeight]="50"
                        [footerHeight]="50"
                        [rowHeight]="60"
                        [scrollbarV]="true"
                        [rows]="filteredDocuments"
                >

                    <!--<ngx-datatable-column name="id" prop="id">
                        <ng-template ngx-datatable-header-template>ID</ng-template>
                    </ngx-datatable-column>-->

                    <ngx-datatable-column name="titre" prop="titre">
                        <ng-template ngx-datatable-header-template>Titre</ng-template>
                    </ngx-datatable-column>

                    <!-- <ngx-datatable-column name="type_document" prop="type_document">
                         <ng-template ngx-datatable-header-template>Type</ng-template>
                     </ngx-datatable-column>-->

                    <ngx-datatable-column name="description" prop="description">
                        <ng-template ngx-datatable-header-template>Description</ng-template>
                    </ngx-datatable-column>

                    <ngx-datatable-column name="language" prop="language">
                        <ng-template ngx-datatable-header-template>Langue</ng-template>
                    </ngx-datatable-column>

                    <ngx-datatable-column name="domaine" prop="nom_domaine">
                        <ng-template ngx-datatable-header-template>Domaine</ng-template>
                    </ngx-datatable-column>

                    <ngx-datatable-column name="project" prop="projectName">
                        <ng-template ngx-datatable-header-template>Projet</ng-template>
                    </ngx-datatable-column>

                    <ngx-datatable-column name="date_ajout" prop="date_ajout">
                        <ng-template ngx-datatable-header-template>Date d'Ajout</ng-template>
                    </ngx-datatable-column>

                    <ngx-datatable-column name="fichier">
                        <ng-template ngx-datatable-header-template>Contenu</ng-template>
                        <ng-template ngx-datatable-cell-template let-row="row">
                            <a [href]="row.fichier" target="_blank">Voir le document</a>
                        </ng-template>
                    </ngx-datatable-column>

                </ngx-datatable>
            </div>
        </div>
    </div>
</div>
