<div>
    <div class="d-flex pl-3 pr-3 pt-2 pb-2 o-hidden box-shadow-1 chat-topbar">
        <a appSidebarToggler="chat-sidebar" class="link-icon d-md-none">
            <i class="icon-regular i-Right ml-0 mr-3"></i>
        </a>
        <div class="d-flex align-items-center" *ngIf="activeConversation?.id">
            <p class="m-0 text-title text-16 flex-grow-1">{{activeConversation?.label}}</p>
        </div>
    </div>

    <div [perfectScrollbar]="{suppressScrollX: true}" class="chat-content rtl-ps-none"
         *ngIf="messagesList.length">
        <div *ngFor="let message of messagesList" class="mb-4">

            <div *ngIf="message.sender == 'bot'" class="d-flex user">
                <div class="message flex-grow-1 othersMsg">
                    <div class="d-flex">
                        <span class="text-small witheTexts">{{message.created_at | date}}</span>
                    </div>
                    <p class="m-0" [innerHTML]="message.text"></p>
                </div>
            </div>
            <div *ngIf="message.sender == 'user'" class="d-flex">
                <div class="message flex-grow-1">
                    <div class="d-flex">
                        <span class="text-small text-muted">{{message.created_at | date}}</span>
                    </div>
                    <p class="m-0">{{message.text}}</p>
                </div>
            </div>
        </div>
    </div>

    <div class="pl-3 pr-3 pt-3 pb-3 box-shadow-1 chat-input-area"
         *ngIf="messagesList.length">
        <form #msgForm="ngForm" class="inputForm" (ngSubmit)="sendMessage()">
            <div class="form-group">
                <textarea class="form-control form-control-rounded" [(ngModel)]="newMessage"
                          name="message" id="message" cols="30" rows="3"
                          placeholder="Type your message"></textarea>
            </div>
            <div class="d-flex">
                <div class="flex-grow-1"></div>
                <button class="btn btn-icon btn-rounded btn-primary mr-2" type="submit">
                    <i class="i-Paper-Plane"></i>
                </button>
            </div>
        </form>
    </div>

    <div class="spinner-glow spinner-glow-warning" *ngIf="chatService.loadingCollection"></div>

    <div class="app-inro-circle" *ngIf="!messagesList.length">
        <div class="border rounded-circle big-bubble"
             [@animate]="{value:'*',params:{scale:'.2',delay:'400ms', duration: '400ms'}}">
            <i class="i-Speach-Bubbles"></i>
        </div>
        <p class="text-16" [@animate]="{value:'*',params:{y:'120px',delay:'600ms', duration: '400ms'}}">Sélectionnez une conversation et démarrez le chat
        </p>
    </div>
</div>
