<div class="app-footer">
	<div class="footer-bottom border-top pt-3 d-flex flex-column flex-sm-row align-items-center">
		<div class="col-md-9">
			<p><strong>SOLIFE HELPER</strong></p>
			<p>InfoBoot conçu pour assister les collaborateurs au sein de VERMEG </p>
		</div>
		<span class="flex-grow-1"></span>
		<div class="d-flex align-items-center">
			<img class="logo" src="./assets/images/SOLIFE_HELPERLogo.png" alt="">
			<div>
				<p class="m-0">SOLIFE HELPER</p>
				<p class="m-0">All rights reserved to VERMEG</p>
			</div>
		</div>
	</div>
</div>
