<div class="border-right">

  
  <div [perfectScrollbar]="{suppressScrollX: true}" class="contacts-scrollable rtl-ps-none">
    <div class="mt-4 pb-2 pl-3 pr-3 font-weight-bold text-muted border-bottom">
        <span>Conversations</span>
        <button class="btn btn-icon addConversationBtn btn-primary" (click)="createNewConversation()">
            <i class="i-Add"></i>
        </button>
    </div>
    <div *ngFor="let conversation of listOfConversations; let i = index"
    class="p-3 d-flex align-items-center " (click)="getChatByConversation(conversation.id)">
        <div style="display: grid; width: 100%">
            <h6 *ngIf="conversationToEdit?.id != conversation.id" class="m-0" (dblclick)="goToEditConversationLabel(conversation)">{{conversation.label}}</h6>
            <input *ngIf="conversationToEdit?.id == conversation.id" type="text"
                   class="form-control form-control-rounded"
                   [(ngModel)]="conversation.label" (change)="changeConversationLabel()">
            <span class="text-muted text-small">{{ conversation.created_at | date}}</span>
        </div>
    </div>


  </div>
  
</div>
