<div class="breadcrumb">
  <h1>Annotation des données</h1>
  <ul>
    <li>Suivre les étapes suivante</li>
  </ul>
</div>

<div class="separator-breadcrumb border-top"></div>

<div class="row">
  <div class="col-md-12">
   
    <form-wizard>
      <wizard-step [title]="'Sélection du Type de Tâche à Annoter'"  (onNext)="onStep1Next($event)">
        <div class="row">
          <div class="form-group col-md-6 mb-3">
            <label >Type de training</label>
            <select class="form-control form-control-rounded" formControlName="project">
              <option *ngFor="let training of trainingType">{{ training.valueOf() }}</option>
            </select>
          </div>
        </div>
      </wizard-step>
      <wizard-step [title]="' Annotation des Données via Doccano'" (onNext)="onStep2Next($event)">
        <img src="./assets/images/importDataDoccano.PNG">

      </wizard-step>
      <wizard-step [title]="'Récupération des Données Annotées'" (onComplete)="onComplete($event)">
        <div class="text-center mt-4 mb-4">
            <i class="i-Checked-User text-32 mb-3 text-success d-inline-block"></i>
            <h5 class="font-weight-light">Les données annotées sont prêtes pour le déclenchement du processus de Training .</h5>
        </div>
      </wizard-step>
    </form-wizard>
     
  </div>
</div>
